{% load static %}
{% for product in products %}
<div class="portfolio-modal modal fade" id="portfolioModal1234" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Chicken in vegetable stew</h2>
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <img class="img-fluid rounded mb-5" src="/media/products/menu-item-1.png" alt="..." />
                            <p class="mb-4">Chicken fillet - 100 grams;
                                Vegetable oil - 15 grams;
                                Half a carrot;
                                Half a bell pepper;
                                Half a squash;
                                Ketchup - 20-50 grams;
                                1-2 green onions;
                                Coriander - 0.5 teaspoons;
                                Salad - 50 grams;
                                Sesame seeds - 5 grams;
                                Serving for one person!
                            </p>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal54321" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Edible basket</h2>
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <img class="img-fluid rounded mb-5" src="/media/products/menu-item-2.png" alt="..." />
                            <p class="mb-4">Cannelloni with meat:
                                            Cannelloni - 5 pcs .
                                            Minced meat (pork, beef) - 150 gr.
                                            Canned tomatoes in their own juice - 100 ml.
                                            Pomegranate sauce:
                                            100 gr. walnut kernels;
                                            100 gr. regular nuts
                                            125 ml pomegranate juice;
                                            150 ml of water;
                                            4 garlic cloves;
                                            30 gr. fresh cilantro;
                                            5 gr. hops-suneli;
                                            5 gr. red hot pepper;
                                            1 pinch of Imeretian saffron;
                                            salt to taste.
                                            Shrimp in jelly:
                                            shrimp (boiled and frozen) 1 cup;
                                            fish broth 1 cup;
                                            lemon - 0.5 pcs;
                                            carrots - 1 pc;
                                            boiled eggs - 1 pc;
                                            parsley 8-10 twigs;
                                            Spicy strawberry sauce:
                                            Strawberries — 200 gr;
                                            Hot chili pepper — 10 gr;
                                            Ginger — 30 gr;
                                            Lemon — 10 ml;
                                            Balsamic vinegar — 1 tablespoon;
                                            Sugar — 70 g;
                                            Salt — 0.5 teaspoons;
                                            Cabbage, carrot, tomato - 300 gr.
                            </p>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal3245" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Pasta with vegetables and spider</h2>
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <img class="img-fluid rounded mb-5" src="/media/products/menu-item-3.png" alt="..." />
                            <p class="mb-4">Pasta - 100 g;
                                            Mushrooms - 70 g;
                                            Tomatoes - 2 pcs;
                                            Arugula - 0.5 bundles;
                                            Vegetable oil;
                                            Ketchup-20 grams;
                                            Garlic - 1 clove;
                                            Onion;
                                            Salt to taste;
                                            Pepper to taste;
                                            Spices to taste;
                                            1 tarantula;
                            </p>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal12341234" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Salad with chicken and walnut</h2>
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <img class="img-fluid rounded mb-5" src="/media/products/menu-item-4.png" alt="..." />
                            <p class="mb-4">Chicken fillet 45 - grams;
                                Hard cheese - 15 grams;
                                Walnuts 10 - grams;
                                Carrot 20 - grams;
                                Iceberg lettuce - 20 grams;
                                Olives and olives - 5 grams;
                                Serving For One Person!</p>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal851656" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Beef with vegetables with teriyaki sauce</h2>
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <img class="img-fluid rounded mb-5" src="/media/products/menu-item-5.png" alt="..." />
                            <p class="mb-4">steak - 9 pieces (each 30 grams);
                                            tomatoes - 3 pieces;
                                            carrots - 20 gr;
                                            teriyaki sauce;
                                            champignons - half a mushroom;
                                            greens - to taste;
                            </p>

                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}